body {
    background-image: url(./img/background-parrot.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
}

h1 {
    text-align: center;  
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

img {
    width: 600px;
}

a {
    color: antiquewhite;
}

a:link {
    color: blueviolet;
}