body {
    background-image: url(./img/background-parrot.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;  
    text-decoration: underline;
    color: antiquewhite;
}

h2 {
    text-decoration: underline;
    color: antiquewhite;
}

p {
    color: antiquewhite;
}

#span {
    font-weight: bold;
}

#bekezdes {
    font-style: italic;
    text-align: justify;
}

img {
    width: 600px;
}

.menu {
    color: aqua;
    text-decoration: none;
    list-style-type: square;
}

a {
    color: antiquewhite;
}

a:link {
    color: blueviolet;
}

li {
    list-style-type: decimal;
}

